@using prjSpecialTopicMvc.Features.Usedbook.Application.DTOs.Responses
@model UserClaimInfoDto

@{
    ViewData["Title"] = "使用者資料";
}

<div class="container my-4">
    <h2 class="mb-4">使用者資料</h2>

    <div class="card shadow-sm">
        <div class="card-header fw-bold">
            使用者基本資料
        </div>
        <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UserId)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UserId)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UserName)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UserName)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.RoleName)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.RoleName)</dd>
            </dl>
        </div>
    </div>
</div>
